<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/products"> <i class="fa-solid fa-truck-ramp-box"></i> <span>Zahran Store Admin</span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/products">
              <i class="fa-solid fa-cart-plus"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cart">
              <i class="fa-solid fa-box-open"></i> Cart
            </a>
          </li>
          
        </ul>
      </div>
  
      
    </div>
  </nav>
  