.image
{
    img{
        width: 400px;
        height: 400px;
    }
}
.details
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: #950b0b;
    }
}
